.sources-subtitle {
  margin: 24px 0 12px;
  color: rgb(133, 29, 9);
  font-size: 20px;
  font-weight: 600;
}

.sources-list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.sources-list li {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.sources-list a {
  color: rgb(133, 29, 9);
}

.sources-list li::marker {
  color: rgb(133, 29, 9);
}