.route-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.route-button {
  font-family: "Science Gothic", sans-serif;
  border: 2px solid rgb(133, 29, 9);
  background: white;
  color: rgb(133, 29, 9);
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;

  transition: 0.2s;
}

.route-button:hover {
  background: rgb(250, 240, 230);
}

.route-button.active {
  background: rgb(133, 29, 9);
  color: white;
}